@font-face {
    font-family: shreeDevangari;
    src: url(ShreeDeevangari.ttf);
} 


#error{
    color: red;
}

.titulo{
    text-align: center;
    color: green;
}


button{
    border: 1px solid #88b2f7;
    background-color: #88b2f7;
    color: white;
}

#anadir {
    background-color: #88b2f7;
    margin: 1px solid red;
    border: 1px solid #88b2f7;
    color: white;
    padding: 4px;
}

input{
    background-color: #cecccc;
    border: 1px solid #cecccc;
}