.boton {
    color: white;
    text-transform: uppercase;
    padding: 10px;
    font-family: sans-serif;
    cursor: pointer;
    margin: 20px;
}

#alhambra {
    background-color: #3d65d6;
}

#carmen {
    background-color: lightgreen;
}

#cementerio {
    background-color: black;
}

.lista-destinos {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.mapa {
    height: 600px;
    background-color: lightgrey;
    margin: 0;
    padding: 0;
}
